<div class="btn-group btn-group-justified" role="group" aria-label="...">
  {{#each actionHash in actionsArray}}
    {{#if actionHash.link}}
      {{#link-to actionHash.link}}
        <button id="clear-completed" class="btn btn-default" role="button">
          {{actionHash.label}}
        </button>
      {{/link-to}}
    {{else}}
    <button id="clear-completed" class="btn btn-default" role="button" {{action actionHash.action}}>
      {{actionHash.label}}
    </button>
    {{/if}}
  {{/each}}
</div>
