/*************************************LANDING PAGE *********************************************************/
/* Setting up the core framework of the page to be responsive*/
html, body, body > .ember-view, .ember-view > .container, .container > .ember-view {
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
}

.container {
  padding: 0px;
}

.modal-dialog {
 display:black;
 overflow: auto;
}

.modal-dialog > .modal-content {
  display:black;
  overflow: auto;
  padding-bottom: 3%;
}

.row-header {
  height: 10%;
  width: 100%;
  margin: 0px;
}

.row-header > .ember-view {
  height: 100%;
}

.row-header > .ember-view {
  position: relative;
}

.btn-group-justified {
  height: 35px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.btn-group-justified > a:hover  {
  text-decoration: none;
}

.btn-group-justified > .btn, .btn-group-justified > a > .btn {
  width: 8%;
  margin-left: 1% !important;
  margin-right: 1% !important;
  min-width: 90px;
  font-family: 'BenchNine', sans-serif;
  background-color: #F4F4F4;
  border-color: #F4F4F4;
}

.btn-group-justified > .btn:hover, .btn-group-justified > a > .btn:hover {
  background-color: #5300A6;
  color: white;
  font-size: 15px;
}

.row-content {
  height: 60%;
  width: 100%;
  margin: 0px;
}

.row-content > .col-xs-8, .row-content > .col-xs-8 > .ember-view, .row-content > .col-xs-2, .row-content > .col-xs-2 > .ember-view {
  height: 100%;
}

.row-content > .col-xs-8 {
  border-color: #F4F4F4;
  border-style: solid;
  border-width: 2px;
  padding: 0px;
}

.row-content > .col-xs-8:hover {
  border-color: #5300A6;
}

.row-content > .col-xs-2 {
  border-color: #F4F4F4;
  border-style: solid;
  border-width: 2px;
  padding: 0px;
  width: 13.666666667%
}

.row-content > .col-xs-2:hover {
  border-color: #5300A6;
}

.row-content > #left-landing-column {
  margin-left: 2%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.row-content > #right-landing-column {
  margin-left: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.row-content > .col-xs-8 {
  width: 64.66666667%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.map-canvas {
    height: 100%;
    width: 100%;
}

.row-footer {
  height: 23%;
  width: 100%;
  margin: 0px;
}

.row-footer > .ember-view {
  height: 100%;
  width: 100%;
}

.row-footer > .ember-view > #slider1_container {
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  width: 96%;
  position: relative;
  border-color: #F4F4F4;
  border-width: 2px;
  border-style: solid;
}

.row-footer > .ember-view > #slider1_container:hover {
  border-color: #5300A6;
}

/*********************************************&**********************************************************/

.vacation-summary-name-holder {
  width: 100%;
  text-align: center;
}

.vacation-summary-name {
  font-family: 'BenchNine', sans-serif;
}
