<h2 id="title">My Map Component</h2>
<button id="clear-completed" {{action "resetMapLocation"}}>
  Reset Map Location
</button>
{{google-summary-map latitude="37.8282" longitude="-98.5795" markers=markers}}

{{outlet}}
